<ul>
  <li *ngFor="let post of postService.getPosts();">
  <div class="postBody">
    <div class="postHeader">
      <p class="creatorName">{{post.creatorName}}</p>                       <!--creatorName-->
      <p class="status">{{post.status}}</p>                              <!--status -->
      <p class="createdOn">{{post.createdOn}}</p>                     <!--createdOn -->
      <h1 class="title">{{post.title}}</h1>         <!--title-->
      <p class="definition">{{post.definition}}</p> <!--definition-->

    </div>
    <p>bla bla bla</p>
    <p></p>
  </div>
  </li>
</ul>
