<div id="container">

  <div id ="leftBox">
    <img src="../../assets/logo_white.png" alt="BOAST IMG" width="170%">
    <p>"Every Bet has a Story"</p>
  </div>



  <div id="rightBox">
    <div id="logIn">

      <h2> Log in </h2>
      <br><br>
      <h3> Enter your Name </h3>
      <input type="text" placeholder="Name" [(ngModel)]="this.username">
      <br>
      <br>
      <div id="submitButton">
        <button (click)="logIn(this.username)" type="submit"> Sign in </button>
        <!-- <button (click)="postService.getPost(2)"> GetPost </button> -->
      </div>

      <br><br><br>
      <p>Du kannst auch ohne Konto fortfahren, um mehr über Boast zu erfahren.</p>
      <br><br>
      <p id="error">Den angegebenen Nutzer gibt es nicht. :(</p>
    </div>
  </div>

</div>
