
hr {
  position: absolute;
  top: 6vh;
  left: 13vw;
  width: 82vw;
  padding: 0.093vh;
  background-color: #FFED00FF;
  border-style: none;
}

#nav_boast_logo {
  position: absolute;
  top: 2vh;
  left: 2vw;
}

#nav_profile_logo {
  position: absolute;
  top: 1.5vh;
  right: 4.8vw;
}

#nav_home {
  color: white;
  text-decoration: none;
  font-size: 1.3vw;
  position: absolute;
  top: 2vh;
  left: 15vw;
}

#nav_posts {
  color: white;
  text-decoration: none;
  font-size: 1.3vw;
  position: absolute;
  top: 2vh;
  left: 20vw;
}
