.post-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  padding: 10vh;
}

.post-content {
  flex: 1;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.926vh;
}

input {
  padding: 0.926vh;
  font-size: 1.481vh;
  width: 100%;
  box-sizing: border-box;
}

.detailInfo {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postDetail {
  width: 50vw;
  height: 50vh;
  padding: 1.852vh;
  border: 0.3vh solid black;
  align-items: center;
  justify-content: center;
}

.eventButtons > button {
  float: right;
  width: 5vw;
  height: 5vh;
  margin: 0.5vh;
}

.button-37 {
  border-radius: 0.37vh;
  box-shadow: rgba(0, 0, 0, .1) 0 0.185vh 0.37vh 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium",
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;
  font-size: 1.55vh;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 0.926vh 2.315vh;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 0.278vh 0.833vh 0;
  transform: translateY(-0.185vh);
}

@media (min-width: 71.111vh) {
  .button-37 {
    padding: 0.926vh 2.778vh;
  }
}
