<app-navbar></app-navbar>

<div class="detailInfo">

  <div class="postDetail">
    <div class="postBody">
      <div class="postHeader">
        <img class="userImage" ngSrc="../../assets/person.crop.circle.fill.png" alt="userImage" width="40" height="38">
        <p class="creatorName">creatorName</p>
        <p class="status">status</p>
        <p class="createdOn">createdOn</p>
        <h1 class="title">title</h1>
        <p class="definition">definition</p>
        <p>typeInfo</p>
      </div>
      <br>
    </div>
    <div class="eventButtons">
      <button class="button-37" role="button" (click)="$event">Join</button>
      <button class="button-37" role="button" (click)="$event">Ignore</button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
