<app-navbar></app-navbar>

<div class="post-detail-container">
  <div class="post-content">
    <h2 class="creatorName">{{ post.creatorName }}</h2>
    <p class="status">{{ post.status }}</p>
    <p class="createdOn">{{ post.createdOn }}</p>
    <h1 class="title">{{ post.title }}</h1>
    <p class="definition">{{ post.definition }}</p>
    <h2>Antworten: </h2>
    <div class="bets" *ngFor="let detail of post.postDetails">
      <p class="betDate"> {{ detail.createdOn + ': ' }} </p>
      <p class="betCreator"> {{ detail.creatorName + ': ' }} </p>
      <p class="betText"> {{ detail.text }}</p>
      <p class="betText"></p>
    </div>
    <br><br>
    <input *ngIf="showTextField" [ngStyle]="{'margin-button': '2vh'}" type="text" placeholder="Enter your text here"
           [(ngModel)]="this.userTextAnswer">
    <br>
    <br>
    <button class="button-37" [ngStyle]="{'background-color': '#258F13'}" style="border: 0.093vh solid #258F13;"
            *ngIf="showTextField" (click)="submitAnswer()">Submit Answer
    </button>
    <p class="errorMessage" *ngIf="showErrorNoValidInput" [ngStyle]="{'background-color': '#C72222'}" style="border: 0.093vh solid #C72222;">
      Your bet must not be empty!</p>
  </div>
  <div class="action-buttons">
    <button class="button-37" [ngStyle]="{'background-color': '#258F13'}" style="border: 0.093vh solid #258F13;"
            role="button" (click)="joinPost()">Join
    </button>
    <button class="button-37" [ngStyle]="{'background-color': '#C72222'}" style="border: 0.093vh solid #C72222;"
            role="button" (click)="ignorePost()">Back to Posts
    </button>
  </div>

</div>

<router-outlet></router-outlet>
