<app-navbar></app-navbar>

<div class="post-detail-container">
  <div class="post-content">
    <h2 class="creatorName">{{ post.creatorName }}</h2>
    <p class="status">{{ post.status }}</p>
    <p class="createdOn">{{ post.createdOn }}</p>
    <h1 class="title">{{ post.title }}</h1>
    <p class="definition">{{ post.definition }}</p>
    <input *ngIf="showTextField" type="text" placeholder="Enter your text here">
  </div>
  <div class="action-buttons">
    <button class="button-37" [ngStyle]="{'background-color': '#13aa52'}" style="border: 0.093vh solid #13aa52;"
            role="button" (click)="joinPost()">Join
    </button>
    <button class="button-37" [ngStyle]="{'background-color': '#bb133a'}" style="border: 0.093vh solid #bb133a;"
            role="button" (click)="ignorePost()">Ignore
    </button>
  </div>

</div>

<router-outlet></router-outlet>
